body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #fffbe6;
  color: #222;
}

nav {
  background: #ffeb00;
  padding: 10px;
}

nav a {
  margin-right: 10px;
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

h1, h2 {
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
}
