{% extends 'base.html' %}
{% block body %}
<h1>{{ stage.name or 'Stage ' ~ stage.id }}</h1>
<form method="post">
  Budget: <input name="budget" type="number" value="{{ stage.team_budget or '' }}"><br>
  <h2>Captain</h2>
  <select name="captain">
    {% for r in riders %}
      <option value="{{ r.id }}">{{ r.name }}</option>
    {% endfor %}
  </select>
  <h2>Climbers</h2>
  {% for i in range(3) %}
  <select name="climber{{ '' if i==0 else i+1 }}">
    {% for r in riders if r.category=='climber' %}
      <option value="{{ r.id }}">{{ r.name }}</option>
    {% endfor %}
  </select>
  {% endfor %}
  <h2>Sprinters</h2>
  {% for i in range(3) %}
  <select name="sprinter{{ '' if i==0 else i+1 }}">
    {% for r in riders if r.category=='sprinter' %}
      <option value="{{ r.id }}">{{ r.name }}</option>
    {% endfor %}
  </select>
  {% endfor %}
  <h2>Young Riders</h2>
  {% for i in range(3) %}
  <select name="young{{ '' if i==0 else i+1 }}">
    {% for r in riders if r.category=='young' %}
      <option value="{{ r.id }}">{{ r.name }}</option>
    {% endfor %}
  </select>
  {% endfor %}
  <h2>Time Trial Specialist</h2>
  <select name="tt">
    {% for r in riders if r.category=='time_trial' %}
      <option value="{{ r.id }}">{{ r.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Save Team</button>
</form>
{% endblock %}
